{% extends "base.html" %}
{% block title %}
公司-订单管理页
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="/static/css/company/order.css"/>

{% endblock %}


{% block body %}
<!--logo头部-->
<div class="whole">
    <div class="top">
        <i></i>企业团餐管理系统
    </div>
    <div class="top_tabs">
        <a class="js_top_tab top_tab" href="/company/index">账号管理</a>
        <a class="js_top_tab top_tab" href="/company/restaurant">餐厅管理</a>
        <a class="js_top_tab top_tab chosen_1" href="/company/order">订单管理</a>
    </div>
    <div class="js_main main">
        <div class="line"></div>
        <!--tab切换-->
        <div class="tabs">
            <div class="js_tab tab chosen_2" tab_num="1">账号管理</div>
            <div class="js_tab tab" tab_num="2">添加员工账号</div>
        </div>
        <!--展示区-->
        <div class="js_secs secs">
            <div class="js_sec js_sec_1 sec"></div>
            <div class="js_sec js_sec_2 sec" style="display: none">
                <form id="js_add_user" action="" >
                    <div class="add_info add_1">
                        员工姓名: <input class="real_name" type="text" name="real_name" required="required" placeholder="请输入">
                    </div>
                    <div class="add_info add_2">
                        员工性别: <input class="gender" type="text" name="gender" required="required" placeholder="请输入">
                    </div>
                    <div class="add_info add_3">
                        员工部门:
                        <select name="department_id" id="department_id" class="department_id" required="required" placeholder="请选择">

                        </select>
                        <div class="js_add_department add_department">
                            <i>+</i>添加部门
                        </div>
                    </div>
                    <div class="add_info add_4">
                        联系电话: <input class="phone_number" type="text" name="phone_number" required="required" placeholder="请输入">
                    </div>
                    <div class="add_info add_5">
                        员工账号: <input class="user_name" type="text" name="user_name" required="required" placeholder="请输入">
                    </div>
                    <div class="add_info add_6">
                        初始密码: <input class="user_password" type="text" name="user_password" required="required" placeholder="请输入">
                    </div>
                    <div id="js_add_btn" class="btn">添加</div>
                </form>
            </div>
        </div>
    </div>
    <div class="loading" style="display: none"></div>
    <div class="js_cover cover" style="display: none"></div>
    <div class="js_pop pop" style="display: none">
        <div class="pop_title">添加部门</div>
        <div class="put_in">
            请输入部门名字：<input class="put_1" type="text" required="required" placeholder="请输入">
        </div>
        <div class="btns">
            <div class="btn js_add_department_btn">确认</div>
            <div class="btn js_close">取消</div>
        </div>
    </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
    var params=util.get_url_strs(window.location.href);
    function company_index(){
        var self=this;
        self.params=params;
        self.body_node=$("body");
        self.load_node=$(".loading");
        self.is_loading=false;
        self.secs=$(".js_sec");
        self.cover=$(".js_cover");
        self.pop=$(".js_pop");
        self.user_id="";
        self.tab_loaded=false;
        var tpl_1='<table>\
                            <tr>\
                                <th>员工ID</th>\
                                <th>部门</th>\
                                <th>姓名</th>\
                                <th>本月余额</th>\
                                <th>待结算</th>\
                                <th></th>\
                            </tr>\
                            <%for(var n=0;n<data.length;n++){%>\
                                <tr>\
                                    <td><%=data[n].user_id%></td>\
                                    <td><%=data[n].department_name%></td>\
                                    <td><%=data[n].real_name%></td>\
                                    <td><%=data[n].left_rmb%></td>\
                                    <td><%=data[n].to_settle%></td>\
                                    <td><a href="/company/order/?user_id=<%=data[n].user_id%>">账号详情</a></td>\
                                </tr>\
                            <%}%>\
                        </table>';
        var tpl_2='<%for(var m=0;m<data.length;m++){%>\
                        <option value="<%=data[m].department_id%>"><%=data[m].department_name%></option>\
                   <%}%>';
        //初始化员工列表
        self.is_loading=true;
        self.load_node.show();
        $.getJSON("/api/user/list/?"+util.format(self.params),function (d) {
            if(d.code==200){
                var node = $(util.parse(tpl_1, {
                    data: d.data,
                    util: util
                })).appendTo(".js_sec_1");
            }else{
                alert(d.message);
            }
            self.is_loading=false;
            self.load_node.hide();
        });
        //切换tab
        $(".js_tab").on("click",function () {
            if(self.is_loading){
                return;
            }
            var node=this;
            this_tab=$(node).attr("tab_num");
            if(this_tab==1){
                window.location.reload();
            }else{
                $(node).addClass("chosen_2").siblings(".js_tab").removeClass("chosen_2");
                self.secs.hide();
                $(self.secs[this_tab-1]).show();
                if(!self.tab_loaded){
                    //初始化部门列表
                    self.is_loading=true;
                    self.load_node.show();
                    $.getJSON("api/company/department/list/?"+util.format(self.params),function (d) {
                        if(d.code==200){
                            var node = $(util.parse(tpl_2, {
                                data: d.data,
                                util: util
                            })).appendTo("#department_id");
                        }else{
                            alert(d.message);
                        }
                        self.is_loading=false;
                        self.load_node.hide();
                    });
                    self.tab_loaded=true;
                }
            }
        });
        //点击添加部门按钮
        self.body_node.delegate(".js_add_department","click",function () {
            if(self.is_loading){
                return;
            }
            self.cover.show();
            self.pop.show();
        });
        //添加部门
        self.body_node.delegate(".js_add_department_btn","click",function () {
            if(self.is_loading){
                return;
            }
            self.is_loading=true;
            self.load_node.show();
            var department_name=$(".put_1").val();
            if(department_name){
                $.ajax({
                    url: "/api/company/department/add/",
                    type: "POST",
                    data: {
                        "company_id": self.params.company_id
                    },
                    success: function (d) {
                        if(d.code==200){
                            //将新添加的部门显示到select框
                            var opt=$("<option class='now' selected='selected'>"+department_name+"</option>");
                            opt.appendTo("#department_id");
                            opt.attr("value",d.data.department_id);
                            alert(d.message);
                            self.cover.hide();
                            self.pop.hide();
                        }else {
                            alert(d.message);
                        }
                        self.is_loading=false;
                        self.load_node.hide();
                    }
                })
            }else {
                alert("请填写部门名称！");
            }
        });
        self.body_node.delegate(".js_close","click",function () {
            if (self.is_loading) {
                return;
            }
            self.cover.hide();
            self.pop.hide();
        });
        //添加员工
        $("#js_add_btn").on("click",function () {
            if(self.is_loading){
                return;
            }
            self.is_loading=true;
            self.load_node.show();
            var real_name=$(".real_name").val();
            var gender=$(".gender").val();
            var department_id=$(".department_id").val();
            var phone_number=$(".phone_number").val();
            var user_name=$(".user_name").val();
            var user_password=$(".user_password").val();
            if(real_name&&gender&&department_id&&phone_number&&user_name&&user_password){
                $.ajax({
                    url: "/api/user/add/",
                    type: "POST",
                    data: {
                        "real_name": real_name,
                        "gender": gender,
                        "department_id": department_id,
                        "phone_number": phone_number,
                        "user_name":user_name,
                        "user_password":user_password,
                        "company_id": self.params.company_id
                    },
                    success: function (d) {
                        if(d.code==200){
                            $(".real_name").val("");
                            $(".gender").val("");
                            $(".phone_number").val("");
                            $(".user_name").val("");
                            $(".user_password").val("");
                            alert(d.message);
                        }else {
                            alert(d.message);
                        }
                        self.is_loading=false;
                        self.load_node.hide();
                    }
                })
            }else {
                alert("请补全信息");
            }
        });
    }
    new company_index();
</script>
{% endblock %}