{% extends "base.html" %}
{% block title %}
公司-订单管理页
{% endblock %}

{% block css_block %}
<link rel="stylesheet" type="text/css" href="/static/css/company/order.css"/>
{% endblock %}


{% block body %}
<!--logo头部-->
<div class="whole">
    <div class="top">
        <i class="js_logo"></i>企业团餐管理系统
    </div>
    <div class="top_tabs">
        <a class="js_top_tab top_tab" href="/company/index">账号管理</a>
        <a class="js_top_tab top_tab" href="/company/restaurant">餐厅管理</a>
        <a class="js_top_tab top_tab chosen_1">订单管理</a>
        <a class="js_top_tab top_tab" href="/company/logo">logo管理</a>
    </div>
    <div class="js_main main">
        <div class="line"></div>
        <!--tab切换-->
        <div class="tabs">
            <div class="js_tab tab chosen_2" tab_num="1">员工订单</div>
            <div class="js_tab tab" tab_num="2">商家订单</div>
        </div>
        <!--展示区-->
        <div class="js_secs secs">
            <div class="js_sec js_sec_1 sec">
                <div class="selector">
                    <span class="user">请输入员工ID：<input id="user_id" type="text" name="user_id"></span>
                    <span class="user">请输入员工姓名：<input id="real_name" type="text" name="real_name"></span>
                    <span class="date" style="margin-left: 20px;">请选择查询周期：<input type="text" name="date" id="year_month"></span>
                    <div class="js_search_btn search_btn">查询</div>
                </div>
                <div class="js_result_container result_container">

                </div>
            </div>
            <div class="js_sec js_sec_2 sec" style="display: none">
                <div class="selector">
                    <span class="date" style="margin-left: 20px;">请选择查询周期：<input type="text" name="date" id="this_bill_date"></span>
                    <div class="js_total_bill_btn search_btn">查询</div>
                </div>
                <p style="margin-top: 20px;margin-bottom: -10px;font-weight: bolder">各供应商的月度账单如下：</p>
                <div class="js_total_restaurant_bill"></div>
                <div class="js_this_restaurant_bill"></div>
            </div>
        </div>
    </div>
    <div class="loading" style="display: none"></div>
    <div class="js_cover cover" style="display: none"></div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
    $(function () {
        $("#year_month").datepicker({
            dateFormat: 'yy-mm',//日期格式
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNamesMin: ['日','一','二','三','四','五','六']
        });
        $("#this_bill_date").datepicker({
            dateFormat: 'yy-mm',//日期格式
            monthNames: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月'],
            dayNamesMin: ['日','一','二','三','四','五','六']
        })
    });
    var params=util.get_url_strs(window.location.href);
    params.common_id=1;
    function company_order(){
        var self=this;
        self.params=params;
        self.body_node=$("body");
        self.load_node=$(".loading");
        self.is_loading=false;
        self.secs=$(".js_sec");
        self.cover=$(".js_cover");
        self.pop=$(".js_pop");
        self.user_id="";
        self.result_container=$(".js_result_container");
        self.tab_loaded=false;
        var tpl_1='<table>\
                            <tr>\
                                <th>订单号</th>\
                                <th>日期</th>\
                                <th>订单</th>\
                                <th>价格</th>\
                                <th>用餐时段</th>\
                                <th>订单状态</th>\
                            </tr>\
                            <%for(var n=0;n<data.length;n++){%>\
                                <tr>\
                                    <td><%=data[n].order_id%></td>\
                                    <td><%=util.format_date(data[n].create_time,"yyyy-MM-dd")%></td>\
                                    <% var str="";if(data[n].order_list){for(var k=0;k<data[n].order_list.length;k++){ str+="<div>"+data[n].order_list[k].dish_name+" * "+data[n].order_list[k].count+"份</div>";}}%>\
                                    <td><%=str%></td>\
                                    <td><%=data[n].order_price%></td>\
                                    <td><%=data[n].time_range_name%></td>\
                                    <td><%=data[n].status_name%></td>\
                                </tr>\
                            <%}%>\
                        </table>';
        var tpl_2='<table>\
                        <tr>\
                            <%for(var q=0;q<data.length;q++){%>\
                                <th><%=data[q].restaurant_name%></th>\
                            <%}%>\
                        </tr>\
                        <tr>\
                            <%for(var q=0;q<data.length;q++){%>\
                                <td><%=data[q].total_rmb%></td>\
                            <%}%>\
                        </tr>\
                        <tr>\
                            <%for(var q=0;q<data.length;q++){%>\
                                <td rid="<%=data[q].restaurant_id%>" class="aaa" r_name="<%=data[q].restaurant_name%>"><span this_year="<%=year%>" class="js_month_bill month_bill" this_month="<%=month%>">查看账单详情</span></td>\
                            <%}%>\
                        </tr>\
                    </table>';
        var tpl_3='<p style="margin-top: 20px;margin-bottom: -10px;"><%=reataurant_name%>详细账单如下:</p>\
                    <table class="js_this_bill">\
                            <tr>\
                                <th>日期</th>\
                                <th>菜名</th>\
                                <th>份数</th>\
                                <th>总价</th>\
                            </tr>\
                            <%for(var n=0;n<data.order_list.length;n++){%>\
                                <tr>\
                                    <td><%=util.format_date(data.order_list[n].create_date,"yyyy-MM-dd")%></td>\
                                    <td><%=data.order_list[n].dish_name%></td>\
                                    <td><%=data.order_list[n].count%></td>\
                                    <td><%=data.order_list[n].total_price%></td>\
                                </tr>\
                            <%}%>\
                        </table>';
        if(params.user_id){
            //初始化订单列表
            self.is_loading=true;
            self.load_node.show();
            $.getJSON("/api/user/meals/list/?"+util.format(self.params),function (d) {
                if(d.code==200){
                    self.result_container.html("");
                    var node = $(util.parse(tpl_1, {
                        data: d.data,
                        util: util
                    })).appendTo(".js_result_container");
                }else{
                    alert(d.message);
                }
                self.is_loading=false;
                self.load_node.hide();
            });
        }
        //获取公司logo
        self.is_loading=true;
        self.load_node.show();
        $.getJSON("/api/company/info/?"+util.format(self.params),function (d) {
            if(d.code==200){
                if(d.data.image_url){
                    $(".js_logo").html('<img src="'+d.data.image_url+'" style="width: 100%;height: 100%;">');
                }
            }else{
                alert(d.message);
            }
            self.is_loading=false;
            self.load_node.hide();
        });
        self.body_node.delegate(".js_search_btn","click",function () {
            if(self.is_loading){
                return;
            }
            var user_id=$("#user_id").val();
            var real_name=$("#real_name").val();
            var year_month=$("#year_month").val().split("-");
            //初始化订单列表
            self.is_loading=true;
            self.load_node.show();
            self.params.user_id=user_id;
            self.params.real_name=real_name;
            self.params.year=year_month[0];
            self.params.month=Number(year_month[1]);
            $.getJSON("/api/user/meals/list/?"+util.format(self.params),function (d) {
                if(d.code==200){
                    self.result_container.html("");
                    var node = $(util.parse(tpl_1, {
                        data: d.data,
                        util: util
                    })).appendTo(".js_result_container");
                }else{
                    alert(d.message);
                }
                self.is_loading=false;
                self.load_node.hide();
            });
        });
        //切换tab
        $(".js_tab").on("click",function () {
            if(self.is_loading){
                return;
            }
            var node=this;
            this_tab=$(node).attr("tab_num");
            if(this_tab==1){
                window.location.reload();
            }else{
                $(node).addClass("chosen_2").siblings(".js_tab").removeClass("chosen_2");
                self.secs.hide();
                $(self.secs[this_tab-1]).show();
                if(!self.tab_loaded){
                    //初始化总账单
                    self.is_loading=true;
                    self.load_node.show();
                    $.getJSON("/api/company/order/summary/",function (d) {
                        if(d.code==200){
                            var node = $(util.parse(tpl_2, {
                                data: d.data,
                                util: util,
                                year:"0",
                                month:"0"
                            })).appendTo(".js_total_restaurant_bill");
                        }else{
                            alert(d.message);
                        }
                        self.is_loading=false;
                        self.load_node.hide();
                    });
                    self.tab_loaded=true;
                }
            }
        });
        //查看月度账单
        self.body_node.delegate(".js_month_bill","click",function () {
            if(self.is_loading){
                return;
            }
            var param={};
            var this_year=$(this).attr("this_year");
            var this_month=$(this).attr("this_month");
            param.restaurant_id=$(this).closest("td").attr("rid");
            var reataurant_name=$(this).closest("td").attr("r_name");
            if(this_year!=0){
                param.year=this_year;
            }
            if(this_month!=0){
                param.month=this_month;
            }
            self.is_loading=true;
            self.load_node.show();
            $(".js_this_restaurant_bill").html("");
            $.getJSON("/api/company/order/details/?"+util.format(param),function (d) {
                if(d.code==200){
                    var node = $(util.parse(tpl_3, {
                        data: d.data,
                        util: util,
                        reataurant_name:reataurant_name
                    })).appendTo(".js_this_restaurant_bill");
                }else{
                    alert(d.message);
                }
                self.is_loading=false;
                self.load_node.hide();
            });
        });
        //查询指定日期的所有表单
        self.body_node.delegate(".js_total_bill_btn","click",function () {
            if(self.is_loading){
                return;
            }
            var year_month=$("#this_bill_date").val().split("-");
            self.params.year=year_month[0];
            self.params.month=Number(year_month[1]);
            $.getJSON("/api/company/order/summary/?"+util.format(self.params),function (d) {
                if(d.code==200){
                    $(".js_total_restaurant_bill").html("");
                    $(".js_this_restaurant_bill").html("");
                    var node = $(util.parse(tpl_2, {
                        data: d.data,
                        util: util,
                        year:self.params.year,
                        month:self.params.month
                    })).appendTo(".js_total_restaurant_bill");
                    if(d.data.length==0){
                        $(".js_total_restaurant_bill").html("<div class='no_data'>无数据</div>");
                    }
                }else{
                    alert(d.message);
                }
                self.is_loading=false;
                self.load_node.hide();
            });
        });
    }
    new company_order();
</script>
{% endblock %}