<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block css_block %}{% endblock %}
</head>


<body>

<!-- custom body begin -->
{% block body %}{% endblock %}
<!-- custom body end -->
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/csrftoken.js"></script>
{% block js_block %}{% endblock %}
<!-- footer begin -->
<!-- footer end -->
</body>
</html>
