<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css"/>
    {% block css_block %}{% endblock %}
</head>


<body>

<!-- custom body begin -->
{% block body %}{% endblock %}
<!-- custom body end -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/lazyload.js"></script>
<script src="/static/js/csrftoken.js"></script>
{% block js_block %}{% endblock %}
<!-- footer begin -->
<!-- footer end -->
</body>
</html>
