{% extends "base.html" %}
{% block title %}
    用户登录
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
{% endblock %}


{% block body %}
    <div class="whole">
        <div class="img_outer">
            <div class="img"></div>
        </div>
        <div id="login">
            <h1>账号登录</h1>
            <input type="text" required="required" placeholder="用户名" id="user_name">
            <input type="password" required="required" placeholder="密码" id="password">
            <button class="button" type="submit" id="button">登录</button>
        </div>
    </div>
{% endblock %}

{% block js_block %}

    <script>
        $("#button").click(function () {
            user_name = $("#user_name").val();
            password = $("#password").val();
            $.ajax({
                url:"/api/login/",
                type:"POST",
                data:{"user_name": user_name,"password": password},
                success:function (data) {
                    alert(data.message);
                    function getLocationVal(id){
                            var temp = unescape(location.search).split(id+"=")[1] || "";
                            return temp.indexOf("&")>=0 ? temp.split("&")[0] : temp;
                        }
                    var from = getLocationVal("__from");
                        if(from != ""){
                            window.location.href = from;
                        }
                        else{
                            admin_type = data.data['admin_type'];
                            user_id = data.data['user_id'];
                            company_id = data.data['company_id'];
                            if(admin_type == 0) {
                                location.href = "/personal/index/?user_id=" + user_id + "&company_id=" + company_id;
                            } else if (admin_type == 1) {
                                location.href = "/restaurant/index/?user_id=" + user_id + "&company_id=" + company_id;
                            } else if (admin_type == 2) {
                                location.href = "/company/index/?user_id=" + user_id + "&company_id=" + company_id;
                            } else if (admin_type == 3) {
                                location.href = "/admin/index/?user_id=" + user_id + "&company_id=" + company_id;
                            } else {}
                        }
                }
            })
        })
    </script>
{% endblock %}